body {
  background-color: #0f1015;
}

#root {
  padding: 2rem;
}

.root_new {
  margin: 0 auto;
}

.chapter-list {
  color: #62656f;
}

.chapter-list li {
  border-bottom: solid 1px #212121;
  border-top: solid 1px #212121;
}

.not-playingChapter {
  .play_icon {
    display: none;
  }

  .playing_icon {
    display: none;
  }
}

.not-playingChapter:hover {
  background-color: #17191d;

  .play_icon {
    display: inline;
    opacity: 40%;
  }
}

.playingChapter {
  .play_icon {
    display: none;
  }

  .pause_icon {
    display: none;
  }

  .playing_icon {
    display: inline;
  }
}

.playingChapter:hover {
  .playing_icon {
    display: none;
  }
}

.playingChapter:hover {
  .now-playing {
    .pause_icon {
      display: inline;
    }
  }

  .not-now-playing {
    .play_icon {
      display: inline;
    }
  }
}

.now-playing {
  .play_icon {
    display: none;
  }
  .pause_icon {
    display: none;
  }
}

.playingChapter span {
  color: white;
}

.controller {
  left: 50%;
  transform: translateX(-50%);
}
